.custom-card > .ant-card-meta-detail > .ant-card-meta-description {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.custom-card {
    height: 77.14px;
}
.custom-card > .ant-card-meta-detail > .ant-card-meta-title {
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}